/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

/* Miscellaneous */
body {
  background-color: #fcf2de;
}
.container {
  background-color: rgb(240, 248, 255);
  margin-top: 100px;
  width: min(1000px, 90%);
  margin-inline: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 2px rgb(111, 109, 109);
  padding: 3rem;
  margin-bottom: 5rem;
}

/* Icons */
.icon {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.fa-pencil {
  color: #7be2f7;
  border: 1px solid #7be2f7;
}

.fa-trash-can {
  border: 1px solid grey;
  color: grey;
}

/* utilities */
.btn {
  padding: 0.25rem;
  transition: 0.3s transform;
  border-radius: 4px;
  cursor: pointer;
}

.add-task {
  display: flex;
  justify-content: flex-end;
}

/* Header */
.main-heading {
  font-size: 2rem;
}
.sub-text {
  background-color: #f6e17c;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  display: inline-block;
}
/* Main */
/* add-task section */
.add-task-btn {
  color: #29d0f2;
  border: 1px solid #29d0f2;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.add-task-form {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-top: 20px;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  gap: 20px;
}
.submit-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.add-task-submit-btn {
  color: red;
  padding-inline: 1rem;
  border: 1px solid red;
}

.cancel-task-submit-btn {
  border: 1px solid black;
  color: black;
  padding-inline: 1rem;
}

.noTodo {
  background-color: #faeca4;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}
.todo-content {
  display: inline-block;
  width: 75%;
  margin-inline: auto;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.25rem;
}
.todo-container {
  margin-top: 3rem;
}
.todo-list-header {
  list-style: none;
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 10px;
  text-align: center;
}
.todo-items {
  list-style: none;
}
.todo-item {
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
}
.todo-status {
  display: inline-block;
  padding: 5px;
  width: 95px;
  transition: 0.3s transform;
  cursor: pointer;
  border-radius: 4px;
}

/* status of todo */
.todo {
  border: 1px solid rgb(144, 144, 144);
  color: grey;
}

.in-progress {
  border: 1px solid #ffc821;
  color: #ffc821;
}

.complete {
  color: #409b71;
  border: 1px solid #409b71;
}

.list-item-1 {
  flex: 45%;
}
.list-item-2 {
  flex: 25%;
}
.list-item-3 {
  flex: 15%;
}
.list-item-4 {
  flex: 15%;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 2rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 1024px) {
  .fa-pencil:hover {
    background-color: #7be2f7;
    color: white;
  }
  .fa-trash-can:hover {
    background-color: grey;
    color: white;
  }
  .btn:hover {
    transform: scale(0.9);
  }
  .add-task-btn:hover {
    color: white;
    background-color: #29d0f2;
  }
  .add-task-submit-btn:hover {
    color: white;
    background-color: rgb(253, 51, 51);
  }
  .cancel-task-submit-btn:hover {
    color: white;
    background-color: black;
  }
  .todo-status:hover {
    transform: scale(0.9);
  }
  .todo:hover {
    color: white;
    background-color: grey;
  }
  .in-progress:hover {
    color: white;
    background-color: #ffc821;
  }
  .complete:hover {
    color: white;
    background-color: #409b71;
  }
}
@media (max-width: 1024px) {
  .fa-pencil:active {
    background-color: #7be2f7;
    color: white;
  }
  .fa-trash-can:active {
    background-color: grey;
    color: white;
  }
  .btn:active {
    transform: scale(0.9);
  }
  .add-task-btn:active {
    color: white;
    background-color: #29d0f2;
  }
  .add-task-submit-btn:active {
    color: white;
    background-color: rgb(253, 51, 51);
  }
  .cancel-task-submit-btn:active {
    color: white;
    background-color: black;
  }
  .todo-status:active {
    transform: scale(0.9);
  }
  .todo:active {
    color: white;
    background-color: grey;
  }
  .in-progress:active {
    color: white;
    background-color: #ffc821;
  }
  .complete:active {
    color: white;
    background-color: #409b71;
  }
}
@media (max-width: 600px) {
  .main-heading {
    font-size: 22px;
  }
  .sub-text {
    font-size: 14px;
    padding: 5px;
  }
  .todo-list-header > * {
    font-size: 12px;
  }
  .list-item-1 {
    font-size: 12px;
  }

  .todo-status {
    font-size: 10px;
    width: 50px;
    padding: 2px;
  }
  .icon {
    font-size: 6px;
  }
}
